This is a prototype for a web-based system to manage BMGF datasets and analyses. Currently, the system is primarily designed to facilitate the work of informaticians/analysts,
aiding in discoverability of data, access to data, and documentation/sharing of analyses. There are two components to this system:
<br>
<br>
<ol>
    <li>This system will contain a registry for input datasets. This provides a central table of inputs, each of which can be identified by ID.</li>

    <li>The system also tracks analyses. Each analysis is loosely defined as one unit of work, such as validation of a given biomarker candidate in one cohort. Creating an analysis provides a folder to save any relevant files. The minimum requirement for an analysis is to upload a document (such as a markdown file) that serves to document the details of what was performed.</li>
</ol>