.mgap-link {
    font-weight: normal;
    text-decoration: underline;
}

/* NOTE: this is added to revert bootstrap's changes */
html {
    font-size: 14px; !important;
}

.mgap-video-icon {
    cursor: help;
}