This page summarizes
<ul>
    <li>The fields to calculate timePostSivChallenge require a record in studies.subjectAnchorDates from the same Id where eventLabel = 'SIV Infection'. There may be records in the treatments table for SIV challenges; these do not count</li>
    <li>The fields to calculate overlapping PVLs require a record in the viral_load table from the same Id/date, where target = SIV and where sampleType = plasma.</li>
    <li>The fields to calculate ART-related date require record(s) in the treatments table from the same Id, where category = 'ART'</li>
</ul>