/.gradle
/intellijBuild

/mcc/.gradle
/mcc/node_modules
/mcc/resources/views/gen
/mcc/resources/web/gen

elispot_assay/resources/credits/dependencies.txt
elispot_assay/resources/credits/jars.txt

mcc/resources/credits/dependencies.txt
mcc/resources/credits/jars.txt

mGAP/resources/credits/dependencies.txt
mGAP/resources/credits/jars.txt

tcrdb/resources/credits/dependencies.txt
tcrdb/resources/credits/jars.txt

variantdb/resources/credits/dependencies.txt
variantdb/resources/credits/jars.txt
