<script type="text/javascript" src="<%=contextPath%>/jbrowseApp/src/dojo/dojo.js" data-dojo-config="async: 1, baseUrl: '<%=contextPath%>/jbrowseApp/src'"></script>
<script type="text/javascript" src="<%=contextPath%>/jbrowseApp/src/JBrowse/init.js"></script>

<script type="text/javascript">

    require([
                'JBrowse/Browser',
                'dijit/form/ComboBox',
                'dijit/form/Button',
                'dojo/keys',
                'dojo/html',
                'dojo/_base/array'
            ],
            function(
                    Browser,
                    dijitComboBox,
                    dijitButton,
                    keys,
                    html,
                    array
            ) {
                var webpart = <%=webpartContext%>;
                var databaseId = mGAP.Utils.getMGapJBrowseSession();
                if (!databaseId){
                    html.set(webpart.wrapperDivId, 'There is no mGAP release to display.');
                    return;
                }

                var renderWidget = function(databaseId, targetDiv) {
                    var base = LABKEY.contextPath + "/jbrowseApp/";
                    var browserRoot = LABKEY.contextPath + "/jbrowseApp/";
                    var dataRoot = LABKEY.contextPath + "/_webdav" + LABKEY.Security.currentContainer.path + "/@Files/.jbrowse/" + "databases/" + databaseId;

                    var browser = new Browser({
                        baseUrl: base,
                        names: {
                            type: 'Hash',
                            url: dataRoot + '/names/'
                        },
                        browserRoot: browserRoot,
                        dataRoot: dataRoot,
                        unitTestMode: true
                    });
                    browser.renderedFatalErrors = true;
                    browser.fatalError = function (error) {
                        html.set(targetDiv, 'There was an error loading the genome browser with ID: ' + databaseId);
                    }

                    browser.afterMilestone('loadNames', function () {
                        this.nameStore = browser.nameStore;

                        var searchbox = dojo.create('div', {
                            style: 'display:inline-block;'
                        }, targetDiv);

                        this.inputBox = dojo.create('input', {
                            placeHolder: "type in your name",
                            baseClass: 'myClass'
                        }, searchbox);

                        this.locationBox = new dijitComboBox({
                            style: {width: '200px'},
                            maxLength: 400,
                            searchAttr: "name",
                            placeHolder: "Enter gene name",
                            title: 'Enter gene or feature name',
                            'class': 'lk-input'
                        }, this.inputBox);

                        browser.afterMilestone('loadNames', dojo.hitch(this, function () {
                            if (this.nameStore) {
                                this.locationBox.set('store', browser.nameStore);
                            }
                        }));
                        this.locationBox.focusNode.spellcheck = false;

                        dojo.query('div.dijitArrowButton', this.locationBox.domNode).orphan();

                        dojo.connect(this.locationBox.focusNode, "keydown", this, function (event) {
                            if (event.keyCode == keys.ESCAPE) {
                                this.locationBox.set('value', '');
                            }
                            else if (event.keyCode == keys.ENTER) {
                                this.locationBox.closeDropDown(false);
                                this.navigateTo(this.locationBox.get('value'));
                                this.goButton.set('disabled', true);
                                dojo.stopEvent(event);
                            }
                            else {
                                this.goButton.set('disabled', false);
                            }
                        });
                        dojo.connect(searchbox, 'onselectstart', function (evt) {
                            evt.stopPropagation();
                            return true;
                        });

                        this.searchNames = function ( /**String*/ loc) {
                            return browser.nameStore.query({name: loc}).then(
                                    function (nameMatches) {
                                        // if we have no matches, pop up a dialog saying so, and
                                        // do nothing more
                                        if (!nameMatches.length) {
                                            return false;
                                        }

                                        var goingTo;

                                        //first check for exact case match
                                        for (var i = 0; i < nameMatches.length; i++) {
                                            if (nameMatches[i].name == loc)
                                                goingTo = nameMatches[i];
                                        }
                                        //if no exact case match, try a case-insentitive match
                                        if (!goingTo) {
                                            for (i = 0; i < nameMatches.length; i++) {
                                                if (nameMatches[i].name.toLowerCase() == loc.toLowerCase())
                                                    goingTo = nameMatches[i];
                                            }
                                        }
                                        //else just pick a match
                                        if (!goingTo) goingTo = nameMatches[0];

                                        return goingTo;
                                    },
                                    function (e) {
                                        console.error(e);
                                        alert('Error reading from name store.');
                                        return false;
                                    });
                        };

                        this.navigateTo = function (loc, callee) {
                            if (!loc) {
                                return;
                            }

                            this.searchNames(loc).then(function (loc, callee) {
                                var url = loc.location ? loc.location.ref + ':' + loc.location.start + '..' + loc.location.end : null;

                                if (!loc) {
                                    alert('Coordinates not found for this location.');
                                    return false;
                                }
                                else if (loc.multipleLocations) {
                                    var unique = {};
                                    var uniqueRef = {};
                                    array.forEach(loc.multipleLocations, function(l){
                                        unique[l.ref + '<>' + l.start + '<>' + l.end] = true;
                                        uniqueRef[l.ref] = true;
                                    });

                                    if (Object.keys(unique).length === 1) {
                                        url = Object.keys(unique).split('<>');
                                        url = url[0] + ':' + url[1] + '..' + url[2];
                                    }
                                    else if (Object.keys(uniqueRef).length === 1) {
                                        var minStart = null;
                                        var maxStop = null;
                                        array.forEach(loc.multipleLocations, function(l){
                                            var start = l.start;
                                            var end = l.end;

                                            if (!minStart || minStart > start){
                                                minStart = start
                                            }

                                            if (!maxStop || maxStop < end){
                                                maxStop = end;
                                            }
                                        });

                                        url = Object.keys(unique)[0] + ':' + minStart + '..' + maxStop;
                                    }

                                    if (!url) {
                                        alert('This location matched multiple positions in the genome.');
                                        LDK.Utils.logError('Jbrowse multiple locations found: ' + Object.keys(unique));
                                        return false;
                                    }
                                }

                                url = LABKEY.ActionURL.buildURL('jbrowse', 'browser', null, {
                                    database: databaseId,
                                    loc: url
                                });
                                window.location = url;
                            });
                        };

                        // make the 'Go' button
                        this.goButton = new dijitButton({
                            label: 'Go',
                            baseClass: "noBorder",
                            onClick: dojo.hitch(this, function (event) {
                                this.navigateTo(this.locationBox.get('value'));
                                this.goButton.set('disabled', true);
                                dojo.stopEvent(event);
                            }),
                            className: 'labkey-button'
                        }, dojo.create('button', {}, searchbox));
                    });

                    browser.loadNames();
                }

                //NOTE: remove this feature for now.  It is difficult to get scoping right with dual browsers on same page.
                // var humanDatabaseId = mGAP.Utils.getHumanMGapJBrowseSession();
                // if (humanDatabaseId) {
                //     //create two divs:
                //     var div1 = document.createElement('div');
                //     div1.setAttribute("id", webpart.wrapperDivId + '-1');
                //
                //     var div2 = document.createElement('div');
                //     div2.setAttribute("id", webpart.wrapperDivId + '-2');
                //
                //     var label1 = document.createElement('div');
                //     label1.setAttribute('style', 'padding-top: 10px;');
                //     label1.innerHTML = 'Search Against The Macaque Genome:';
                //
                //     document.getElementById(webpart.wrapperDivId).appendChild(label1);
                //
                //     document.getElementById(webpart.wrapperDivId).appendChild(div1);
                //
                //     var label2 = document.createElement('div');
                //     label2.setAttribute('style', 'padding-top: 10px;');
                //     label2.innerHTML = 'Search Against The Human Genome:';
                //
                //     document.getElementById(webpart.wrapperDivId).appendChild(label2);
                //     document.getElementById(webpart.wrapperDivId).appendChild(div2);
                //
                //     renderWidget(databaseId, div1.getAttribute("id"));
                //     renderWidget(humanDatabaseId, div2.getAttribute("id"));
                // }
                // else {
                //     renderWidget(databaseId, webpart.wrapperDivId);
                // }

                renderWidget(databaseId, webpart.wrapperDivId);
            });


</script>