<!--NOTE: info available from: https://nprcresearch.org/primate/research.php-->
<style type="text/css">
    .colDiv {
        display: flex;
    }
</style>
<script type="text/javascript">
    (function ($){
        $(function(){
            var rawData = [
                ['Nervous system','Vision','Achromotopsia','PDE6C','c.1694G>A; p.Arg565Gln','Moshiri, et al. 2019:30667376'],
                ['Nervous system','Vision','Age-related macular degeneration','HTRA1, ARMS2','','Francis , et al. 2008:18535016;Singh, et al. 2009:19028492'],
                ['Nervous system','Vision','Bardet-Beidl syndrome','BBS7','c.160delG; p.Ala54fs','Peterson, et al. 2019:31589838'],
                ['Nervous system','Vision','Oculocuateous albinism','TYRP1','c.1,028A>G; p.Asp343Gly<br>c.1,244T>C; p.Leu415Pro',''],
                ['Nervous system','Vision','Oculocuateous albinism','TYR1','c.768C>G; p.His256Gln',''],
                ['Nervous system','Vision','Coats-like retinopathy','','','Liu, et al. 2015:25656754'],
                ['Nervous system','Neurological','Batten disease','CLN7','c.769delA; p.Ile257LeufsTer36','McBride, et al. 2018:30048804'],
                ['Nervous system','Neurological','Krabbe disease','GALC','c.435_436delAC; p.Leu146fs','Luzi, et al. 1997:9192853;Baskin, et al. 1998:10090061'],
                ['Nervous system','Neurological','Pelizaiaeus-Merzbacher disease','PLP1','c.682 T > C; p.Cys228Arg','Sherman, et al. 2021:34364975'],
                ['Nervous system','Neurological','Epilepsy','','','Salinas, et al. 2015:26290449;Akos Szabo, et al. 2019:31592545'],
                ['Nervous system','Psychiatric','Naltrexone response','OPRM1','c.77C>G; p.Pro26Arg','Vallender, et al. 2010:20153935'],
                ['Nervous system','Psychiatric','Anxiety ','5-HTT','5-HTTLPR','Spinelli , et al. 2012:22293001'],
                ['Nervous system','Psychiatric','Anxiety ','CRHR1','multiple','Rogers, et al. 2013:23147386'],
                ['Cardiovascular system','','Left ventricular hypertrophy','','N/A','Reader, et al. 2016:27053572;Haertel, et al. 2016:27538864;Ueda, et al. 2019:30723724'],
                ['Cardiovascular system','','Type-3 von Willebrand\'s disease','VWF','N/A','Patterson, et al. 2002:12211283'],
                ['Reproductive system','','Endometriosis','NSPR1','Multiple','Assaf, et al. 2012:21521902;Keator, et al. 2012:22307145;D\'Hooghe, et al. 2009:19208783;Nair, et al. 2016:26908459'],
                ['Reproductive system','','Polycystic ovarian syndrome','','','Abbott, et al. 2017:28333238;Abbott, et al. 2019:31783681;Abbott, et al. 2019:30767580'],
                ['Reproductive system','','Amenorrhea','EAP1','promoter','Lomniczi, et al. 2012:22128021'],
                ['Skeletal system','','Osteoporosis','','','Simmons, et al. 2016:26864889;Colman 2018:28729086;Paschalis, et al. 2019:30414509'],
                ['Integumentary system','','Epidermolysis bullosa simplex','KRT5','c.1087_1088insGTCTTGGTACCAGCTTGGTCTTGGTACCAGACCA; p.Lys363 fs','Johnson, et al. 2019:32096448'],
                ['Cancers','','Hereditary nonpolyposis colorectal cancer syndrome','MLH1','c.1029C<G, p.Tyr343Ter','Brammer, et al. 2018:29490919;Dray, et al. 2018:30108684'],
                ['Cancers','','Squamous cell carcinoma','','','Stockinger, et al. 2014:24956217'],
                ['Unpublished','','Cobblestone Lissencephaly ','POMT1','',''],
                ['Unpublished','','Ferroportin Disease Nonclassical 4B','SLC40A1','',''],
                ['Unpublished','','Complex Lethal Osteochondrodysplasia','TAPT1','',''],
                ['Unpublished','','Dyshomongenetic goiter','TG','',''],
                ['Unpublished','','Leukodystrophy','CLCN2','',''],
                ['Suspected','','Ferric chelate reductase- Iron Refractory Anemia','FRRS1','',''],
                ['Suspected','','Cholangiodysplasia -Cheeto','SLC39A14','',''],
                ['Suspected','','Hemochromatosis','','','']
            ];

            var dataSet = [];
            $.each(rawData, function(idx, row){
                var subcategory = row[1]
                if (subcategory) {
                    row[2] = subcategory + ": " + row[2]
                }

                row[3] = row[3] || 'N/A'

                if (row[5]) {
                    row[5] = row[5].split(';').map(x => {
                        var y = x.split(':')

                        return '<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/' + y[1] + '">' +  y[0] + '</a>'
                    }).join('<br>')
                }

                dataSet.push(row)
            });

            var table = $('#phenotypeTable').DataTable({
                data: dataSet,
                pageLength: 500,
                rowGroup: {
                    dataSrc: 0
                },
                dom: '',
                //buttons: [],
                //order: [],
                columns: [
                    {title: 'Group', visible: false},
                    {title: 'Subcategory', visible: false},
                    {title: 'Model', sortable: false},
                    {title: 'Gene'},
                    {title: 'Mutation(s)', maxWidth: 100},
                    {title: 'References', width: 200}
                ]
            });

            table.table().header().remove();

            var rowId = mGAP.Utils.getMGapReleaseId();
            LDK.Assert.assertNotEmpty('Missing MGapReleaseId on phenotypes page', rowId);
            if (rowId) {
                var url = LABKEY.ActionURL.buildURL('mgap', 'phenotypeList', null, {release: rowId});
                $('#highImpactUrl').attr('href', url);

                LDK.Utils.getBasicQWP({
                    title: 'Diseases/Phenotypes Implicated By mGAP Variant Data',
                    schemaName: 'mgap',
                    queryName: 'phenotypes',
                    showRecordSelectors: false,
                    showDetailsColumn: false,
                    maxRows: 10,
                    filterArray: [LABKEY.Filter.create('releaseId/rowId', rowId)]
                }).render('highImpactQWP');
            }
        });
    })(jQuery);
</script>


<div>
    Macaques serve as essential pre-clinical models for a range of human diseases. Research in macaques has been essential for advances in genetics, immunology, endocrinology, reproductive biology, stem cell biology, biological imaging, and neuroscience.
    For the study of genetic disorders, the close evolutionary history of macaques and humans is a major advantage, and evident in their highly similar breadth of natural disease susceptibilities.
    <br>
    <br>
    The mGAP disease/phenotype data can be divided into two categories (see more below):
    <ul style="font-weight: bold">
        <li><a href="#variantData">Disease/phenotypes Implicated from mGAP Variant Data</a></li>
        <li><a href="#publishedData">Published NHP Disease/Phenotypic Models</a></li>
    </ul>
    We also recommend the following review:
    <ul>
        <li>
            <span style="font-weight: bold;"><a href="https://doi.org/10.1186/s13023-023-02619-3">Vallender, E.J., Hotchkiss, C.E., Lewis, A.D. et al. Nonhuman primate genetic models for the study of rare diseases. Orphanet J Rare Dis 18, 20 (2023).</a></span>
        </li>
    </ul>
</div>

<h4 style="text-decoration: underline" id="variantData">Diseases/Phenotypes Implicated By mGAP Variant Data:</h4>
<div style="padding-bottom: 10px;">
    From each mGAP release, we generate a list of 'High Impact' variants, including variants overlapping with human disease-associated variants or those predicted to have a deleterious impact on protein coding. Using OMIM data, we generate a list of diseases/phenotypes linked to these genes, which is shown below.
    <br><br>
    <a id="highImpactUrl" class="labkey-text-link">Click here to view the complete list of diseases/phenotypes implicated by mGap data</a>
    <br><br>
    <div id="highImpactQWP"></div>
</div>
<h4 style="text-decoration: underline" id="publishedData">Published NHP Disease/Phenotypic Models:</h4>
There are many examples of parallel genetic associations already reported for common diseases, which suggests opportunity to leverage the macaque for developing pharmacogenomic or personalized medicine approaches (Table 1, top).
For example, genetic associations in macaques that are orthologous to those associated with human, have been reported for cancers, reproductive disorders, retinal and infectious diseases.
Similarly, complex behavioral traits such as heightened anxiety, and variable response to commonly used pharmacological agents such as naltrexone, have been linked to the variants in the same genes as found in humans.
Other macaque disease models, such as for autism, polycystic ovarian syndrome (PCOS) or type II diabetes, have been reported, but genetic linkages have yet to be uncovered (Table 1, bottom).
The growing list of macaque traits are likely the ‘tip of the iceberg’ of the natural models of human disease, as other diseases likely go undetected either due to a less obvious phenotype (e.g., hearing loss) or due to early life lethality.
<br>
<br>
<div style="width: 1200px;">
    <span><b>Table I. Published macaque disease models with and without reported genetic associations.</b></span>
    <table id="phenotypeTable" class="stripe hover"></table>
</div>
