<script type="text/javascript">
    Ext4.onReady(function (){
        var rowId = LABKEY.ActionURL.getParameter('release');
        if (!rowId){
            rowId = mGAP.Utils.getMGapReleaseId();
        }

        if (!rowId){
            alert('Must Provide mGAP Release Id');
            return;
        }

        var webpart = <%=webpartContext%>;

        Ext4.get(webpart.wrapperDivId).update(
                '<div>From each mGAP release, we generate a list of \'High Impact\' Variants, including variants overlapping with human disease-associated variants or those predicted to have a deleterious impact on protein coding. The table below contains a list of all OMIM entries overlapping these variants. These are putative disease models, and would require additional validation. <a href="' + LABKEY.ActionURL.buildURL('mgap', 'variantList', null, {release: rowId}) + '">Click here to view the entire variant list.</a><p/>' +
                '<br>Note: you can click the column headers to sort or filter, and the table can be exported to excel using the export button in the button bar.' +
                '<br>' +
                '</div>' +
                '<br>' +
                '<div id="qwp_'+webpart.wrapperDivId+'"></div>'
        );

        LDK.Utils.getReadOnlyQWP({
            name: 'query',
            schemaName: 'mGAP',
            queryName: 'phenotypes',
            columns: 'releaseId,omim_phenotype,omim,variantLink',
            filterArray: [
                    LABKEY.Filter.create('releaseId/rowid', rowId, LABKEY.Filter.Types.EQUAL)
            ]
        }).render('qwp_' + webpart.wrapperDivId);

    });

</script>