<!--NOTE: info available from: https://nprcresearch.org/primate/research.php-->
<style type="text/css">
    .colDiv {
        display: flex;
    }
</style>
<script type="text/javascript">
    (function ($){
        $(function(){
            var rawData = [
                ['Genetic Association Reported','SIV progression','Nomura , et al. 2012','https://www.ncbi.nlm.nih.gov/pubmed/22754552'],
                ['Genetic Association Reported','SIV progression','Letvin , et al. 2011','https://www.ncbi.nlm.nih.gov/pubmed/21543722'],
                ['Genetic Association Reported','SIV progression','Lim , et al. 2010','https://www.ncbi.nlm.nih.gov/pubmed/20585621'],
                ['Genetic Association Reported','Age-related macular degeneration','Francis , et al. 2008','https://www.ncbi.nlm.nih.gov/pubmed/18535016'],
                ['Genetic Association Reported','Age-related macular degeneration','Singh, et al. 2009','https://www.ncbi.nlm.nih.gov/pubmed/19028492'],
                ['Genetic Association Reported','Colorectal cancer','Brammer, et al. 2018','https://www.ncbi.nlm.nih.gov/pubmed/29490919'],
                ['Genetic Association Reported','Krabbe disease ','Luzi, et al. 1997','https://www.ncbi.nlm.nih.gov/pubmed/9192853'],
                ['Genetic Association Reported','Ammenorhea','Lomniczi, et al. 2012','https://www.ncbi.nlm.nih.gov/pubmed/22128021'],
                ['Genetic Association Reported','Naltrexone response','Vallender, et al. 2010','https://www.ncbi.nlm.nih.gov/pubmed/20153935'],
                ['Genetic Association Reported','HPA axis dysregulation','Ferguson, et al. 2012','https://www.ncbi.nlm.nih.gov/pubmed/22998353'],
                ['Genetic Association Reported','Alcohol intake levels','Lindell, et al. 2010','https://www.ncbi.nlm.nih.gov/pubmed/20368518'],
                ['Genetic Association Reported','Alcohol intake levels','Barr, et al. 2009','https://www.ncbi.nlm.nih.gov/pubmed/19706546'],
                ['Genetic Association Reported','Alcohol intake levels','Cervera-Juanes, et al. 2016','https://www.ncbi.nlm.nih.gov/pubmed/26148813'],
                ['Genetic Association Reported','Anxiety','Spinelli , et al. 2012','https://www.ncbi.nlm.nih.gov/pubmed/22293001'],
                ['Genetic Association Reported','Anxiety','Rogers, et al. 2013','https://www.ncbi.nlm.nih.gov/pubmed/23147386'],
                ['No Genetic Association Reported','Autism','Bauman, et al. 2018','https://www.ncbi.nlm.nih.gov/pubmed/28774750'],
                ['No Genetic Association Reported','Age-associated coginitive decline','Paspalas, et al. 2018','https://www.ncbi.nlm.nih.gov/pubmed/29241829'],
                ['No Genetic Association Reported','Polycystic ovary syndrome (PCOS)','Abbott, et al. 2017','https://www.ncbi.nlm.nih.gov/pubmed/28333238'],
                ['No Genetic Association Reported','Endometriosis','Assaf, et al. 2012','https://www.ncbi.nlm.nih.gov/pubmed/21521902'],
                ['No Genetic Association Reported','Endometriosis','Franasiak, et al. 2015','https://www.ncbi.nlm.nih.gov/pubmed/25031316'],
                ['No Genetic Association Reported','Endometriosis','Zondervan, et al. 2004','https://www.ncbi.nlm.nih.gov/pubmed/14747196'],
                ['No Genetic Association Reported','Left ventricular hyertrophy','Reader, et al. 2016','https://www.ncbi.nlm.nih.gov/pubmed/27053572'],
                ['No Genetic Association Reported','Type III Von-Willebrand','Patterson, et al. 2002','https://www.ncbi.nlm.nih.gov/pubmed/12211283'],
                ['No Genetic Association Reported','Type II Diabetes','Qian, et al. 2015','https://www.ncbi.nlm.nih.gov/pubmed/26113016'],
                ['No Genetic Association Reported','Type II Diabetes','Pare, et al. 2007','https://www.ncbi.nlm.nih.gov/pubmed/17278131'],
                ['No Genetic Association Reported','Type II Diabetes','Bremer, et al. 2011','https://www.ncbi.nlm.nih.gov/pubmed/21884510'],
                ['No Genetic Association Reported','Squamous cell carcinoma','Jean, et al. 2011','https://www.ncbi.nlm.nih.gov/pubmed/21640039'],
                ['No Genetic Association Reported','Coat-like retinopathy','Liu, et al. 2015','https://www.ncbi.nlm.nih.gov/pubmed/25656754'],
                ['No Genetic Association Reported','TB progression','Maiello, et al. 2018','https://www.ncbi.nlm.nih.gov/pubmed/28947646'],
                ['No Genetic Association Reported','Osteoporosis ','Simmons , et al. 2016','https://www.ncbi.nlm.nih.gov/pubmed/26864889']
            ];

            var dataMap = {};
            $.each(rawData, function(idx, row){
                dataMap[row[0]] = dataMap[row[0]] || {};
                dataMap[row[0]][row[1]] = dataMap[row[0]][row[1]] || [];
                dataMap[row[0]][row[1]].push('<a target="_blank" href="' + row[3] + '">' +  row[2] + '</a>');
            });

            var dataSet = [];
            $.each(dataMap['Genetic Association Reported'], function(key, value){
                dataSet.push(['Genetic Association Reported', key, value.join(', ')]);
            });

            $.each(dataMap['No Genetic Association Reported'], function(key, value){
                dataSet.push(['No Genetic Association Reported', key, value.join(', ')]);
            });

            var table = $('#phenotypeTable').DataTable({
                data: dataSet,
                pageLength: 500,
                rowGroup: {
                    dataSrc: 0
                },
                dom: '',
                buttons: [],
                order: [],
                columns: [
                    {title: 'Group', visible: false},
                    {title: 'Model', sortable: false, width: 250},
                    {title: 'References'}
                ]
            });

            table.table().header().remove();

            var rowId = mGAP.Utils.getMGapReleaseId();
            var url = LABKEY.ActionURL.buildURL('mgap', 'phenotypeList', null, {release: rowId});
            $('#traitUrl').attr('href', url);
        });
    })(jQuery);
</script>

<h4 style="text-decoration: underline">Diseases/Phenotypes Implicated By Variant Data:</h4>
<div style="padding-bottom: 10px;">
    From each mGAP release, we generate a list of 'High Impact' variants, including variants overlapping with human disease-associated variants or those predicted to have a deleterious impact on protein coding. Using OMIM annotations, we generate a list of putative disease models based on these variants.
    <br><br>
    <ul>
        <li><a id="traitUrl">Click here to view the current list of phenotypes</a></li>
    </ul>
</div>
<h4 style="text-decoration: underline">Published Macaque Models:</h4>
<div class="colDiv">
    <div style="flex: 1;max-width: 40%;margin-right: 20px;">
        Macaques serve as essential pre-clinical models for a range of human diseases. Research in macaques has been essential for advances in genetics, immunology, endocrinology, reproductive biology, stem cell biology, biological imaging, and neuroscience.
        For the study of genetic disorders, the close evolutionary history of macaques and humans is a major advantage, and evident in their highly similar breadth of natural disease susceptibilities.
        <br><br>
        There are many examples of parallel genetic associations already reported for common diseases, which suggests opportunity to leverage the macaque for developing pharmacogenomic or personalized medicine approaches (Table 1, top).
        For example, genetic associations in macaques that are orthologous to those associated with human, have been reported for cancers, reproductive disorders, retinal and infectious diseases.
        Similarly, complex behavioral traits such as heightened anxiety, and variable response to commonly used pharmacological agents such as naltrexone, have been linked to the variants in the same genes as found in humans.
        Other macaque disease models, such as for autism, polycystic ovarian syndrome (PCOS) or type II diabetes, have been reported, but genetic linkages have yet to be uncovered (Table 1, bottom).
        The growing list of macaque traits are likely the ‘tip of the iceberg’ of the natural models of human disease, as other diseases likely go undetected either due to a less obvious phenotype (e.g., hearing loss) or due to early life lethality.
        Together, the broad spectrum of natural models in rhesus macaque populations presents largely untapped opportunities for translational study, and may negate the need for more costly model development approaches, such as gene-editing.
    </div>
    <div style="width: 600px;">
        <span><b>Table I. Published macaque disease models with and without reported genetic associations.</b></span>
        <table id="phenotypeTable" class="stripe hover"></table>
    </div>
</div>