<script type="text/javascript">
    Ext4.onReady(function (){
        var rowId = LABKEY.ActionURL.getParameter('release');
        if (!rowId){
            rowId = mGAP.Utils.getMGapReleaseId();
        }

        if (!rowId){
            alert('Must Provide mGAP Release Id');
            return;
        }

        var webpart = <%=webpartContext%>;

        Ext4.get(webpart.wrapperDivId).update(
                '<div>The table below shows a subset of the variants identified in this release.  It is designed to highlight predicted high-impact variants, including variants:<p/>' +
                '<ul>' +
                '<li>Identical to a ClinVar Allele Annotated as Pathogenic</li>' +
                '<li>Predicted as High Impact on Protein Coding by SnpEff</li>' +
                '<li>Predicted as Damaging by PolyPhen2 (human annotations)</li>' +
                '</ul>' +
                'Note: you can click the column headers to sort or filter, and the table can be exported to excel using the export button in the button bar.' +
                '</div>' +
                '<br>' +
                '<div id="qwp_'+webpart.wrapperDivId+'"></div>'
        );

        LDK.Utils.getReadOnlyQWP({
            name: 'query',
            schemaName: 'mGAP',
            queryName: 'variantList',
            filterArray: [
                    LABKEY.Filter.create('releaseId/rowid', rowId, LABKEY.Filter.Types.EQUAL)
            ]
        }).render('qwp_' + webpart.wrapperDivId);

    });

</script>