<script type="text/javascript" nonce="<%=scriptNonce%>">
    (function($, LABKEY) {
        $(function(){
            var ctx = LABKEY.getModuleContext('mgap') || {};
            var folder = ctx['MGAPContainer'];
            if (!folder) {
                return;
            }

            if (!LABKEY.Security.currentUser.isGuest) {
                var el = $('#login-el');
                el.html('Go To Site');
                el.attr('href', LABKEY.ActionURL.buildURL('project', 'start', folder));
            }
        });
    }(jQuery, LABKEY));

    $(document).ready(function () {
        $('#slideshow').cycle({
            fx: 'fade',
            pager: '#smallnav',
            pause: 1,
            speed: 1800,
            timeout: 3500
        });
    });
</script>
<div class="full" id="slideshow">
    <img src="<%=contextPath%>/mGAP/welcome/images/102_6203.jpg" class="bgM"/>
    <img src="<%=contextPath%>/mGAP/welcome/images/102_6438.jpg" class="bgM"/>
    <img src="<%=contextPath%>/mGAP/welcome/images/102_7224.jpg" class="bgM"/>
    <img src="<%=contextPath%>/mGAP/welcome/images/102_6416.jpg" class="bgM"/>
</div>
<div>
    <nav class="navbar navbar-expand-lg bg-dark fixed-bottom fs-3 py-2" id="navbar" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-lg-3">
                        <a class="nav-link shadow-none" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">About</a>
                    </li>
                    <li class="nav-item mx-lg-3">
                        <a class="nav-link" href="<%=contextPath%>/login-login.view?returnUrl=<%=contextPath%>/project/mGAP/start.view?" id="login-el">Login</a>
                    </li>
                    <li class="nav-item mx-lg-3">
                        <a class="nav-link" href="<%=contextPath%>/mGAP/requestLogin.view">Request Access</a>
                    </li>
                    <li class="nav-item mx-lg-3">
                        <a class="nav-link" href="<%=contextPath%>/mGap-contact.view?returnUrl=<%=contextPath%>/">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <div>
                <h1 class="title mx-lg-3">mGAP</h1>
                <h3 class="title mx-lg-3">The Macaque Genotype And Phenotype Resource</h3>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">About mGAP</h4>
            </div>
            <div class="modal-body">
                The Macaque Genotype and Phenotype Resource (mGAP) provides access to genotype data collected on a large, pedigreed, rhesus macaque colony housed at the Oregon National Primate Research Center (ONPRC).  We hope to provide researchers with the tools to explore naturally occurring genetic variation in macaques.  Our database of DNA variants is curated and heavily annotated, and can either be viewed through our genome browser or downloaded for external use.
                <br><br>
                <i>To request an account, please use the 'Request Access' link at the bottom of this page.  mGAP is an NIH funded project, supported by R24OD021324.</i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>