<script type="text/javascript" nonce="<%=scriptNonce%>">

Ext4.onReady(function (){
    var webpart = <%=webpartContext%>;

    var ctx = MCC.Utils.getMCCContext(webpart.wrapperDivId);
    if(!ctx)
        return;

    Ext4.create('Ext.panel.Panel', {
        renderTo: webpart.wrapperDivId,
        border: false,
        items: [{
            xtype: 'panel',
            border: false,
            defaults: {
                border: false
            },
            items: [{
                html: 'This page contains information related to the setup and administration of the MCC site.' +
                '<p></p>' +
                'Below is a summary of the key user groups. Users can be added/removed from these groups to control permissions. <a href="' + LABKEY.ActionURL.buildURL('security', 'permissions.view', ctx.MCCRequestContainer, {t: 'sitegroups'}) + '">Admins can manage users by clicking here</a>.' +
                '<p></p>' +
                '<ul>' +
                    '<li>MCC Animal Data Access: Any user needing animal-level data access should be in this group.</li>' +
                    '<li>MCC Animal Requestors: Any user who will request MCC animals should be in this group.</li>' +
                    '<li>MCC RAB Members: This group is responsible for RAB reviews.</li>' +
                    '<li>MCC Final Reviewers: This group is authorized to enter the final approve/reject decision on requests.</li>' +
                    '<li>MCC Admins: This group should be very limited, including the MCC project manager(s) and other administrators.</li>' +
                '</ul>'
            }]
        },{
            xtype: 'ldk-navpanel',
            style: 'padding-top: 20px;',
            border: false,
            sections: [
                {
                    header: 'User/Request Management',
                    items: [
                        {
                            name: 'View Pending User Requests',
                            url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', ctx['MCCContainer'], {schemaName: 'mcc', queryName: 'userRequests', viewName: 'Pending Requests'})
                        },
                        {
                            name: 'View All Users',
                            url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', ctx['MCCContainer'], {schemaName: 'mcc', queryName: 'userRequests'})
                        },
                        {
                            name: 'Request MCC Account for A User',
                            url: LABKEY.ActionURL.buildURL('mcc', 'requestLogin.view', ctx['MCCContainer']),
                        }
                    ]
                },
                {
                    header: 'Configuration/Data Management',
                    items: [
                        {
                            name: 'Ensure Site Settings and Groups',
                            url: LABKEY.ActionURL.buildURL('mcc', 'configureMcc.view', ctx['MCCContainer']),
                        },{
                            name: 'Import/Re-import MCC Study',
                            url: LABKEY.ActionURL.buildURL('mcc', 'importStudy.view')
                        },{
                            name: 'Import/Re-import MCC Study In All Folders',
                            url: LABKEY.ActionURL.buildURL('mcc', 'importStudies.view')
                        },{
                            name: 'Ensure Study QC States Present',
                            url: LABKEY.ActionURL.buildURL('ehr', 'ensureQcStates.view')
                        },{
                            name: 'Populate Lookups',
                            url: LABKEY.ActionURL.buildURL('mcc', 'populateData.view')
                        },{
                            name: 'Site-wide Animal to MCC ID Mapping',
                            url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', ctx['MCCContainer'], {schemaName: 'mcc', queryName: 'animalMapping', 'query.containerFilterName': 'AllFolders'})
                        }
                    ]
                }
            ]
        }]
    });
});

</script>