<div class="mcc-nav-menu-panel"></div>

<script type="text/javascript">

    Ext4.onReady(function(){
        Ext4.QuickTips.init();

        var webpart = <%=webpartContext%>;
        var div = Ext4.get(webpart.wrapperDivId).down('.mcc-nav-menu-panel');

        var parent = Ext4.get(webpart.wrapperDivId).up('.lk-custom-dropdown-menu');
        if (parent) {
            parent.setStyle('padding', '0px 0px 0px 0px');
        }

        var ctx = MCC.Utils.getMCCContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        var menuItemsData = [{
            label: 'Site Home',
            name: 'siteHome',
            url: LABKEY.ActionURL.buildURL('project', 'begin', 'home'),
            visible: true
        }, {
            label: 'Animal Data',
            name: 'animalData',
            url: LABKEY.ActionURL.buildURL('project', 'begin', ctx['MCCContainer']),
            visible: true
        }, {
            label: 'Request Help / Contact',
            name: 'help',
            url: LABKEY.ActionURL.buildURL('mcc', 'contact', 'home'),
            visible: true
        }];

        if (MCC.Utils.isRequestAdmin()) {
            menuItemsData.push({
                label: 'MCC Site Admin',
                name: 'siteAdmin',
                url: LABKEY.ActionURL.buildURL('mcc', 'mccAdmin', ctx['MCCContainer']),
                visible: true
            })
        }

        var menuItemsRequest = [{
            label: 'Submit/Manage Requests',
            name: 'requests',
            url: LABKEY.ActionURL.buildURL('mcc', 'mccRequests', ctx['MCCRequestContainer']),
            visible: true
        }]

        if (MCC.Utils.hasRabPermission()) {
            menuItemsRequest.push({
                label: 'RAB Reviewer Dashboard',
                name: 'reviewerDashboard',
                url: LABKEY.ActionURL.buildURL('mcc', 'rabRequestReview', ctx['MCCRequestContainer']),
                visible: true
            })
        }

        if (MCC.Utils.hasFinalDecisionPermission()) {
            menuItemsRequest.push({
                label: 'NIH Review Dashboard',
                name: 'nihReview',
                url: LABKEY.ActionURL.buildURL('mcc', 'nihReview', ctx['MCCRequestContainer']),
                visible: true
            })
        }

        if (MCC.Utils.isRequestAdmin()) {
            menuItemsRequest.push({
                label: 'Animal Request Administration',
                name: 'requestAdmin',
                url: LABKEY.ActionURL.buildURL('mcc', 'mccRequestAdmin', ctx['MCCRequestContainer']),
                visible: true
            })
        }

        var getTemplate = function(title) {
            return [
                '<span style="font-weight: bold;height: auto;padding-bottom: 5px;">' + title + '</span>',
                '<tpl for=".">',
                '<tpl if="visible">',
                '<div style="width: 300px;font-weight: bold;height: auto;" class="thumb-wrap thumb-wrap-side">',
                '<a href="{url}">',
                '<span style="text-align: left;font-weight: bold" class="thumb-label-side">{label:htmlEncode}</span>',
                '</a>',
                '</div>',
                '</tpl>',
                '</tpl>',
                '<div class="x-clear"></div>'
            ]
        }

        Ext4.create('Ext.panel.Panel', {
            renderTo: div.id,
            cls: 'labkey-iconpanel',
            style: 'padding: 10px;',
            border: false,
            width: 300,
            itemId: 'menuPanel',
            minHeight: 50,
            items: [{
                xtype: 'panel',
                border: false,
                style: 'padding-bottom: 10px;',
                items: [{
                    xtype: 'dataview',
                    style: 'padding-left: 5px;',
                    overItemCls: 'x4-item-over',
                    trackOver: true,
                    itemSelector: 'div.thumb-wrap',
                    cls: 'labkey-iconpanel',
                    tpl: getTemplate('General Items:'),
                    border: false,
                    store: {
                        type: 'store',
                        fields: ['label', 'name', 'url', 'visible'],
                        data: menuItemsData
                    }
                }]
            },{
                xtype: 'panel',
                border: false,
                hidden: !menuItemsRequest.length,
                items: [{
                    xtype: 'dataview',
                    style: 'padding-left: 5px;',
                    overItemCls: 'x4-item-over',
                    trackOver: true,
                    itemSelector: 'div.thumb-wrap',
                    cls: 'labkey-iconpanel',
                    tpl: getTemplate('Animal Requests:'),
                    border: false,
                    store: {
                        type: 'store',
                        fields: ['label', 'name', 'url', 'visible'],
                        data: menuItemsRequest
                    }
                }]
            }]
        });
    });

</script>