<script type="text/javascript">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;
        var ctx = MCC.Utils.getMCCContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        Ext4.get(webpart.wrapperDivId).update(
            'The MCC is now accepting animal requests! Investigators interested in requesting marmosets for their research can submit applications via the animal request portal. Please note, while you are encouraged to submit your requests now, the review process will not begin until June 2022, and the first animals will not be available until at least September 2022.' +
            '<p></p>' +
            '<a class="labkey-text-link" href="<%=contextPath%>/mcc' + ctx['MCCRequestContainer'] + '/animalRequest.view">Submit New Animal Request</a><br>' +
            '<a class="labkey-text-link" href="/become-a-user.html#request-animals">Click Here to View Documentation on the Request Process and Scoring Criteria</a>' +
            '<p></p>' +
            '<div id="' + webpart.wrapperDivId + '-webpart">'
        );

        LDK.Utils.getBasicQWP({
            title: 'My Animal Requests',
            frame: 'left-nav',
            schemaName: 'mcc',
            queryName: 'myRequests',
            showRecordSelectors: true,
            showDetailsColumn: true,
            buttonBar: {position: 'top', includeStandardButtons: true, items: []}
        }).render(webpart.wrapperDivId + '-webpart');

    });
</script>