<script type="text/javascript" nonce="<%=scriptNonce%>">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;
        var ctx = MCC.Utils.getMCCContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        Ext4.get(webpart.wrapperDivId).update(
            'Below are all MCC requests awaiting the final decision. By default, this shows only pending requests; however, you can click the left-hand \'Views\' button to toggle between this and all requests.' +
            '<p></p>' +
            '<a class="labkey-text-link" href="/become-a-user.html#request-animals">Click Here to View Documentation on the Request Process and Scoring Criteria</a>' +
            '<br>' +
            '<a class="labkey-text-link" href="<%=contextPath%>/mcc/img/mccRequest.png">Outline of Request Workflow</a>' +
            '<p></p>' +
            '<div id="' + webpart.wrapperDivId + '-webpartPending"></div>' +
            '<p></p>' +
            '<div id="' + webpart.wrapperDivId + '-webpartDecisionPending"></div>'
        );

        LDK.Utils.getBasicQWP({
            containerPath: ctx.MCCRequestContainer,
            title: 'Pending MCC Requests',
            frame: 'left-nav',
            schemaName: 'mcc',
            queryName: 'requestScores',
            viewName: 'Pending Requests',
            showRecordSelectors: true,
            showDetailsColumn: true
        }).render(webpart.wrapperDivId + '-webpartPending');

        LDK.Utils.getBasicQWP({
            containerPath: ctx.MCCRequestContainer,
            title: 'Decision Pending',
            frame: 'left-nav',
            schemaName: 'mcc',
            queryName: 'requestScores',
            viewName: 'Decision Pending',
            showRecordSelectors: true,
            showDetailsColumn: true
        }).render(webpart.wrapperDivId + '-webpartDecisionPending');
    });
</script>