<script type="text/javascript">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;
        var ctx = MCC.Utils.getMCCContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        Ext4.get(webpart.wrapperDivId).update(
            'Below are all pending and historic animal requests to MCC. You can use the edit link to view/update any request. You can also use the left-hand \'Views\' button to toggle between submitted requests, all requests, etc.' +
            '<p></p>' +
            '<a class="labkey-text-link" href="/become-a-user.html#request-animals">Click Here to View Documentation on the Request Process and Scoring Criteria</a>' +
            '<p></p>' +
            '<div id="' + webpart.wrapperDivId + '-webpartPending">'
        );

        LDK.Utils.getBasicQWP({
            title: 'MCC Animal Requests',
            frame: 'left-nav',
            schemaName: 'mcc',
            queryName: 'animalRequests',
            viewName: 'Submitted',
            showRecordSelectors: true,
            showDetailsColumn: true,
            buttonBar: {position: 'top', includeStandardButtons: true, items: []}
        }).render(webpart.wrapperDivId + '-webpartPending');
    });
</script>