<script type="text/javascript" nonce="<%=scriptNonce%>">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;
        var ctx = MCC.Utils.getMCCContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        Ext4.get(webpart.wrapperDivId).update(
            'Below are all the MCC animal requests assigned to you for review. By default this shows only incomplete reviews; however, you can the left-hand \'Views\' button to toggle between pending assignments and assignment you previously completed.' +
            '<p></p>' +
            '<a class="labkey-text-link" href="/become-a-user.html#request-animals">Click Here to View Documentation on the Request Process and Scoring Criteria</a>' +
            '<br>' +
            '<a class="labkey-text-link" href="<%=contextPath%>/mcc/img/mccRequest.png">Outline of Request Workflow</a>' +
            '<p></p>' +
            '<div id="' + webpart.wrapperDivId + '-webpartAssignments"></div>'
        );

        LDK.Utils.getBasicQWP({
            title: 'Animal Request Review Assignments',
            schemaName: 'mcc',
            queryName: 'requestReviews',
            viewName: 'Pending Reviews',
            filterArray: [
                LABKEY.Filter.create('reviewerId', LABKEY.Security.currentUser.id)
            ],
            showRecordSelectors: false,
            showDetailsColumn: false,
            buttonBar: {position: 'top', includeStandardButtons: true, items: []}
        }).render(webpart.wrapperDivId + '-webpartAssignments');
    });
</script>